In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_columns",999)
pd.set_option('display.max_rows', 20)

In [2]:
#Lectura Datasets

In [3]:
sivigila=pd.read_parquet('../parquet_datasets/sivigila_2017_2018_S.parquet')
sivigila

           DEPARTAMENTO ENFERMEDAD      FECHA  EDAD SEXO
0       NORTE SANTANDER     CHAGAS 2017-08-01    46    M
1                BOYACA     CHAGAS 2017-05-01    87    F
2                TOLIMA     CHAGAS 2017-09-01    58    F
3             SANTANDER     CHAGAS 2017-08-01    68    F
4          CUNDINAMARCA     CHAGAS 2017-10-01    70    F
...                 ...        ...        ...   ...  ...
141005            VALLE       ZIKA 2018-07-01    36    M
141006            VALLE       ZIKA 2018-09-01    51    M
141007            VALLE       ZIKA 2018-05-01    38    F
141008            VALLE       ZIKA 2019-03-01    47    M
141009            VALLE       ZIKA 2018-07-01    50    F

[137538 rows x 5 columns]

In [4]:
medicos_ips=pd.read_parquet('../parquet_datasets/medicos_ips_S.parquet')
medicos_ips

,depa_nombre,fecha_apertura,codigo_habilitacion,clpr_nombre
259039,Valle del cauca,2002-01-05 00:03:00,7600100828,Profesional Independiente
200648,Meta,2002-01-13 00:12:00,5057300003,Instituciones - IPS
200633,Meta,2002-01-13 00:12:00,5057300003,Instituciones - IPS
200634,Meta,2002-01-13 00:12:00,5057300003,Instituciones - IPS
200641,Meta,2002-01-13 00:12:00,5057300003,Instituciones - IPS
...,...,...,...,...
212851,Norte de Santander,2020-01-31 00:08:00,5449800855,Instituciones - IPS
212848,Norte de Santander,2020-01-31 00:08:00,5449800855,Instituciones - IPS
135958,Cauca,2020-01-31 00:08:00,1900108854,Instituciones - IPS
178859,Huila,2020-01-31 00:08:00,4100102170,Instituciones - IPS
54255,Atlántico,2020-01-31 00:10:00,875800003,Instituciones - IPS

In [5]:
nofetal=pd.read_parquet('../parquet_datasets/Nofetal_S.parquet')
nofetal

            FECHA             Dpto       SEXO          GRU_ED1
0      2017-01-01         Putumayo  Masculino  De 50 a 54 años
1      2017-01-01         Putumayo  Masculino  De 25 a 29 años
2      2017-01-01        Antioquia  Masculino  De 35 a 39 años
3      2017-01-01        Antioquia  Masculino  De 45 a 49 años
4      2017-01-01            Cauca  Masculino  De 30 a 34 años
...           ...              ...        ...              ...
464551 2018-04-01            Sucre  Masculino  De 50 a 54 años
464552 2018-12-01        Risaralda  Masculino  De 70 a 74 años
464553 2018-12-01        Risaralda  Masculino  De 90 a 94 años
464554 2018-07-01        Santander   Femenino  De 80 a 84 años
464555 2018-08-01  Valle del Cauca  Masculino  De 65 a 69 años

[464556 rows x 4 columns]

In [6]:
#Lista valores departamentos

In [7]:
dep_sivigila=sorted(list(sivigila.DEPARTAMENTO.unique()))
dep_sivigila

['AMAZONAS',
 'ANTIOQUIA',
 'ARAUCA',
 'ATLANTICO',
 'BOGOTA',
 'BOLIVAR',
 'BOYACA',
 'CALDAS',
 'CAQUETA',
 'CASANARE',
 'CAUCA',
 'CESAR',
 'CHOCO',
 'CORDOBA',
 'CUNDINAMARCA',
 'GUAINIA',
 'GUAJIRA',
 'GUAVIARE',
 'HUILA',
 'MAGDALENA',
 'META',
 'NARIÑO',
 'NORTE SANTANDER',
 'PUTUMAYO',
 'QUINDIO',
 'RISARALDA',
 'SAN ANDRES',
 'SANTANDER',
 'SUCRE',
 'TOLIMA',
 'VALLE',
 'VAUPES',
 'VICHADA']

In [8]:
dep_med_ips=sorted(list(medicos_ips.depa_nombre.unique()))
dep_med_ips

['Amazonas',
 'Antioquia',
 'Arauca',
 'Atlántico',
 'Bogotá D.C',
 'Bolívar',
 'Boyacá',
 'Caldas',
 'Caquetá',
 'Casanare',
 'Cauca',
 'Cesar',
 'Chocó',
 'Cundinamarca',
 'Córdoba',
 'Guainía',
 'Guaviare',
 'Huila',
 'La Guajira',
 'Magdalena',
 'Meta',
 'Nariño',
 'Norte de Santander',
 'Putumayo',
 'Quindío',
 'Risaralda',
 'San Andrés y Providencia',
 'Santander',
 'Sucre',
 'Tolima',
 'Valle del cauca',
 'Vaupés',
 'Vichada']

In [9]:
dep_nofetal=sorted(list(nofetal.Dpto.unique()))
dep_nofetal

['Amazonas',
 'Antioquia',
 'Arauca',
 'Atlántico',
 'Bogotá',
 'Bolivar',
 'Boyaca',
 'Caldas',
 'Caqueta',
 'Casanare',
 'Cauca',
 'Cesar',
 'Choco',
 'Cordoba',
 'Cundinamarca',
 'Guainía',
 'Guaviare',
 'Huila',
 'La guajira',
 'Magdalena',
 'Meta',
 'Nariño',
 'Norte de Santander',
 'Putumayo',
 'Quindio',
 'Risaralda',
 'San Andrés y Providencia',
 'Santander',
 'Sucre',
 'Tolima',
 'Valle del Cauca',
 'Vaupés',
 'Vichada']

In [10]:
# funcion que devuelve el string mas parecido
from fuzzywuzzy import process
def dep_finder(dep_name, data_list):
    closest_match = process.extractOne(dep_name,data_list)
    return closest_match[0]

In [11]:
from collections import defaultdict

In [12]:
dep_dic1=defaultdict(str)

In [13]:
for i in dep_sivigila:
    j=dep_finder(i,dep_med_ips)
    dep_dic1[i]=j

In [14]:
dep_dic1

defaultdict(str,
            {'AMAZONAS': 'Amazonas',
             'ANTIOQUIA': 'Antioquia',
             'ARAUCA': 'Arauca',
             'ATLANTICO': 'Atlántico',
             'BOGOTA': 'Bogotá D.C',
             'BOLIVAR': 'Bolívar',
             'BOYACA': 'Boyacá',
             'CALDAS': 'Caldas',
             'CAQUETA': 'Caquetá',
             'CASANARE': 'Casanare',
             'CAUCA': 'Cauca',
             'CESAR': 'Cesar',
             'CHOCO': 'Chocó',
             'CORDOBA': 'Córdoba',
             'CUNDINAMARCA': 'Cundinamarca',
             'GUAINIA': 'Guainía',
             'GUAJIRA': 'La Guajira',
             'GUAVIARE': 'Guaviare',
             'HUILA': 'Huila',
             'MAGDALENA': 'Magdalena',
             'META': 'Meta',
             'NARIÑO': 'Nariño',
             'NORTE SANTANDER': 'Norte de Santander',
             'PUTUMAYO': 'Putumayo',
             'QUINDIO': 'Quindío',
             'RISARALDA': 'Risaralda',
             'SAN ANDRES': 'San Andrés y Providencia',
             'SANTANDER': 'Santander',
             'SUCRE': 'Sucre',
             'TOLIMA': 'Tolima',
             'VALLE': 'Valle del cauca',
             'VAUPES': 'Vaupés',
             'VICHADA': 'Vichada'})

In [15]:
dep_dic2=defaultdict(str)

In [16]:
for i in dep_nofetal:
    j=dep_finder(i,dep_med_ips)
    dep_dic2[i]=j

In [17]:
dep_dic2

defaultdict(str,
            {'Amazonas': 'Amazonas',
             'Antioquia': 'Antioquia',
             'Arauca': 'Arauca',
             'Atlántico': 'Atlántico',
             'Bogotá': 'Bogotá D.C',
             'Bolivar': 'Bolívar',
             'Boyaca': 'Boyacá',
             'Caldas': 'Caldas',
             'Caqueta': 'Caquetá',
             'Casanare': 'Casanare',
             'Cauca': 'Cauca',
             'Cesar': 'Cesar',
             'Choco': 'Chocó',
             'Cordoba': 'Córdoba',
             'Cundinamarca': 'Cundinamarca',
             'Guainía': 'Guainía',
             'Guaviare': 'Guaviare',
             'Huila': 'Huila',
             'La guajira': 'La Guajira',
             'Magdalena': 'Magdalena',
             'Meta': 'Meta',
             'Nariño': 'Nariño',
             'Norte de Santander': 'Norte de Santander',
             'Putumayo': 'Putumayo',
             'Quindio': 'Quindío',
             'Risaralda': 'Risaralda',
             'San Andrés y Providencia': 'San Andrés y Providencia',
             'Santander': 'Santander',
             'Sucre': 'Sucre',
             'Tolima': 'Tolima',
             'Valle del Cauca': 'Valle del cauca',
             'Vaupés': 'Vaupés',
             'Vichada': 'Vichada'})

In [18]:
sivigila['DEPARTAMENTO'] = sivigila.apply(lambda x: dep_dic1[x['DEPARTAMENTO']],axis=1)
sivigila.DEPARTAMENTO=sivigila.DEPARTAMENTO.astype('category')
sivigila

              DEPARTAMENTO ENFERMEDAD      FECHA  EDAD SEXO
0       Norte de Santander     CHAGAS 2017-08-01    46    M
1                   Boyacá     CHAGAS 2017-05-01    87    F
2                   Tolima     CHAGAS 2017-09-01    58    F
3                Santander     CHAGAS 2017-08-01    68    F
4             Cundinamarca     CHAGAS 2017-10-01    70    F
...                    ...        ...        ...   ...  ...
141005     Valle del cauca       ZIKA 2018-07-01    36    M
141006     Valle del cauca       ZIKA 2018-09-01    51    M
141007     Valle del cauca       ZIKA 2018-05-01    38    F
141008     Valle del cauca       ZIKA 2019-03-01    47    M
141009     Valle del cauca       ZIKA 2018-07-01    50    F

[137538 rows x 5 columns]

In [19]:
nofetal['Dpto'] = nofetal.apply(lambda x: dep_dic2[x['Dpto']],axis=1)
nofetal.Dpto=nofetal.Dpto.astype('category')
nofetal

            FECHA             Dpto       SEXO          GRU_ED1
0      2017-01-01         Putumayo  Masculino  De 50 a 54 años
1      2017-01-01         Putumayo  Masculino  De 25 a 29 años
2      2017-01-01        Antioquia  Masculino  De 35 a 39 años
3      2017-01-01        Antioquia  Masculino  De 45 a 49 años
4      2017-01-01            Cauca  Masculino  De 30 a 34 años
...           ...              ...        ...              ...
464551 2018-04-01            Sucre  Masculino  De 50 a 54 años
464552 2018-12-01        Risaralda  Masculino  De 70 a 74 años
464553 2018-12-01        Risaralda  Masculino  De 90 a 94 años
464554 2018-07-01        Santander   Femenino  De 80 a 84 años
464555 2018-08-01  Valle del cauca  Masculino  De 65 a 69 años

[464556 rows x 4 columns]

In [21]:
medicos_ips

,depa_nombre,fecha_apertura,codigo_habilitacion,clpr_nombre
259039,Valle del cauca,2002-01-05 00:03:00,7600100828,Profesional Independiente
200648,Meta,2002-01-13 00:12:00,5057300003,Instituciones - IPS
200633,Meta,2002-01-13 00:12:00,5057300003,Instituciones - IPS
200634,Meta,2002-01-13 00:12:00,5057300003,Instituciones - IPS
200641,Meta,2002-01-13 00:12:00,5057300003,Instituciones - IPS
...,...,...,...,...
212851,Norte de Santander,2020-01-31 00:08:00,5449800855,Instituciones - IPS
212848,Norte de Santander,2020-01-31 00:08:00,5449800855,Instituciones - IPS
135958,Cauca,2020-01-31 00:08:00,1900108854,Instituciones - IPS
178859,Huila,2020-01-31 00:08:00,4100102170,Instituciones - IPS
54255,Atlántico,2020-01-31 00:10:00,875800003,Instituciones - IPS

In [22]:
medicos_ips.dtypes

depa_nombre                  category
fecha_apertura         datetime64[ns]
codigo_habilitacion             int64
clpr_nombre                  category
dtype: object